.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
.Rhistory
*.dcf
.Rhistory
*.dcf
.Rhistory
*.dcf
.Rhistory
rsconnect/documents/app_es.R/shinyapps.io/centerforglobaldemocracy/lapop-shiny-esp.dcf
rsconnect/shinyapps.io/centerforglobaldemocracy/lapop-shiny.dcf
.Rhistory
